<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/main.css}">
<script th:src="@{/js/bootstrap.min.js}" ></script>
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/home"><img style="width: 35px" th:src="@{/img/thymeleaf.png}" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/home">Home <span class="sr-only">"/home"</span></a>
            </li>

            <li class="right">
                <form class="form-inline" action="#">
                    <input class="form-control" type="search" th:name="searchterm" placeholder="Search" aria-label="Search" required>
                    <button class="btn btn-primary" type="submit">Search</button>
                </form>
            </li>
        </ul>
    </div>
</nav>

<div class="jumbotron">
    <div class="container inner-padded">
        <div class ="row">
            <div class="col">
                <table style="align-items: center" class="table table-striped table-dark border-light">
                    <thead class = "ttop">
                    <tr class = "table-info">
                        <th>Track</th>
                        <th>Artist</th>
                        <Th>Album</Th>
                        <th>Genre</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="result:${searchResults}">
                        <td th:text="${result.getTrackName()}"></td>
                        <td th:text="${result.getArtistName()}"></td>
                        <td th:text="${result.getAlbumTitle()}"></td>
                        <td th:text="${result.getGenreName()}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>